<?xml version="1.0"?>
<!-- model.config is necessary when you need to save world and loading world again -->
<model>
  <name>box</name>
  <version>1.0.0</version>
  <sdf version="1.7">box.urdf</sdf> <!-- gazebo only accepts sdf tag, but using the tag for urdf is fine -->
  <author><name>ChatGPT</name></author>
  <description>A simple 0.01 kg, 0.03 x 0.03 x 0.03 m cube</description>
</model>
