<?xml version="1.0"?>
<model>
  <name>ur10_rg2</name>
  <version>1.0.0</version>
  <sdf version="1.7">ur10_rg2_gazebo.urdf</sdf>
  <author><name>Yifan</name></author>
  <description>UR10 robot with RG2 gripper(no mimic), based on official ur_description and gripper from https://github.com/AndrejOrsula/ur5_rg2_ign</description>
</model>
